body{
    margin: 0px;
    background: linear-gradient(#e66465, #9198e5);
}

.selections{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;

}

.selection {
    background: none;
    border: none;
    font-size: 8rem;
    
}

.selection:hover{
    transform: scale(1.5);
    
}





.results {
   display: flex;
   padding-top: 5%;
   justify-content: space-evenly; 
}




